<!DOCTYPE html> 
<html> 
	<head> 
	<title>Pickse.com Mobile</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag "mobile/jqm", :media => "all" %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "mobile/jquery.mobile-1.1.0" %>
	<%= javascript_include_tag "mobile/mobile_item" %>
</head> 
<body> 

<%= yield %>

</body>
</html>
